<div class="container">
  <div class="row">
    <div class="spacer-height-60"></div>
  </div>
  <div class="row" style="text-align:center;">
    <div class="rectangle text-center" style="width: 213px; height: 93px; opacity: 1; margin: 0px auto;">LOGO</div>
  </div>
  <div class="row">
    <div class="spacer-height-60"></div>
  </div>
  <form>
    <div class="row">
      <div class="form-group" name="myForm">
        <label for="town">Enter a name of the city and press search:</label>
        <input type="text" [(ngModel)]="town" name="town" class="form-control" id="town" required>
      </div>
    </div>
    <div class="row">
      <div style="text-align: center; width: 100%;">
        <div style="width: 100%;" *ngFor="let currentTown of towns">
          <ul>
            <li><a routerLink="/details/{{currentTown}}">{{currentTown}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group" name="myForm" style="text-align: center;">
        <button [disabled]="!town" (click)="getWeather()" style="width: 205px; height: 66px; font-size: 26px;opacity: 1; margin: 0px auto;"
          type="button"><span class="ui-button-text">Search</span></button>
      </div>
    </div>
  </form>
</div>